@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center inicio">
    <h1 class="display-4">Bienvenido</h1>
    <p>Bienvenido a la Aplicación del Grupo 3, construida con la tecnologia de ASP.NET Core y Razor</p>
</div>
